.modelRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.styleTitleRegister {
    display: flex;
    justify-content: center;
}


.styleTitleRegister h1 {
    color: white;
    margin-top: 4%;
    margin-bottom: 9%;
    font-size: 20px;
    text-align: center;
}


.styleTitleRegister img {
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: auto;
    height: 170px;
    border-radius: 30px;
    margin-top: -28%;
    margin-bottom: -5%;
}


.modelStyle {
    width: 500px;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.268), rgba(0, 0, 0, 0.685)), url("https://i.postimg.cc/q7pqdCLR/az1.webp");
    background-size: cover;
    padding: 30px;
    border-radius: 30px;
    animation: popup 0.7s;
}

.header Button {
    border-radius: 100% 50%;
    color: rgb(255, 255, 255);
}


.bodySpaceAvatar {
    display: flex;
    justify-content: center;
    margin-top: -7%;
    margin-bottom: 4%;
}


.bodySpaceInfoUser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bodySpaceInfoUser p {
    color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 20px;
}


.updateUserData {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}


.updateUserData button {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    border-radius: 15px;
}


.modelStyleUpdate {
    width: 400px;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.268), rgba(0, 0, 0, 0.685)), url("https://i.postimg.cc/WpxMcXJ1/q1.webp");
    background-size: cover;
    padding: 30px;
    border-radius: 30px;
    animation: popup 0.7s;
}


.input span {
    height: 100%;
    background-color: #b0c4cf;
    border: none;
}


/* animation active when open popup Profile User + Update user date */
@keyframes popup {
    0% {
        transition: all 0.2s ease-in-out;
        transform: scale(0.1);
    }
}


@media(max-width:991px) {

    .modelStyle,
    .modelStyleUpdate {
        width: 380px;
    }
}