.modelRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.animationOpenPopUp {
    animation: popup 0.7s;
}

@keyframes popup {
    0% {
        transition: all 0.2s ease-in-out;
        transform: scale(0.1);
    }
}


.styleTitleRegister {
    display: flex;
    justify-content: center;
}


.styleTitleRegister h1 {
    color: white;
    margin-top: -8%;
    margin-bottom: 9%;
    font-size: 25px;
}


.form {
    width: 400px;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.268), rgba(0, 0, 0, 0.685)), url("https://i.postimg.cc/JzZH88CT/a2.webp");
    background-size: cover;
    padding: 30px;
    border-radius: 30px;
}


.RegisterInOrCloseButtom {
    display: flex;
    justify-content: center;
}

.RegisterInOrCloseButtom button {
    font-size: 12px;
    border-radius: 15px;
}


.header Button {
    border-radius: 100% 50%;
    color: rgb(255, 255, 255);
}


.input span {
    height: 100%;
    background-color: #b0c4cf;
    border: none;
}

.DemoUser {
    text-align: center;
    margin-top: 2%;
}

.DemoUser p {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    animation: change-text 16s linear infinite;
}

@keyframes change-text {
    10% {
        opacity: 1;
        letter-spacing: 3px;
    }

    35% {
        opacity: 1;
        letter-spacing: 3px;
    }

    60% {
        opacity: 1;
        letter-spacing: 3px;
    }

    85% {
        opacity: 1;
        letter-spacing: 3px;
    }

    0%,
    25%,
    50%,
    75%,
    100% {
        opacity: 0;
        letter-spacing: 0;
    }
}



@media(max-width:991px) {
    .form {
        width: 380px;
    }
}