.modelRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.animationOpenPopUp {
  animation: popup 0.7s;
}

@keyframes popup {
  0% {
    transition: all 0.2s ease-in-out;
    transform: scale(0.1);
  }
}

.styleTitleRegister {
  display: flex;
  justify-content: center;
}



.styleTitleRegister h1 {
  color: white;
  margin-top: -8%;
  margin-bottom: 9%;
  font-size: 25px;
}


.RegisterInOrCloseButtom {
  display: flex;
  justify-content: center;
}

.RegisterInOrCloseButtom button {
  font-size: 12px;
  border-radius: 15px;
}


.header Button {
  border-radius: 100% 50%;
  color: rgb(255, 255, 255);
}


.form {
  width: 400px;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.268), rgba(0, 0, 0, 0.685)), url("https://i.postimg.cc/kGD23qmH/4955137-31132.jpg");
  background-size: cover;
  padding: 30px;
  border-radius: 30px;
}



.input span {
  height: 100%;
  background-color: #b0c4cf;
  border: none;
}


.checkBox {
  display: flex;
  justify-content: center;
  transform: scale(0.85);
}


@media(max-width:991px) {

  .form {
    width: 380px;
  }

  .checkBox {
    transform: scale(0.77);
  }
}