.positionPopUp {
  animation: popup 0.5s;
}


@keyframes popup {
  50% {
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }
}


.styleModelCursors {
  background: url("https://i.postimg.cc/wBgRtx0Z/dark-matter.png");
  position: absolute;
  margin-top: 27.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: auto;
  padding: 6%;
  border-radius: 50%;
  border-right: 8px #50708d inset;
  border-left: 8px #50708d inset;
  border-top: 8px #72722b inset;
  border-bottom: 8px #72722b inset;
}


.titleSelectCurser h1 {
  font-size: 16px;
  color: white;
  font-weight: 780;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
}

.titleSelectCurser h6 {
  margin-top: 8%;
  margin-bottom: 5%;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 780;
  color: white;
}

.titleSelectCurser p {
  margin-top: -3%;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 780;
  color: white;
}

.choiceCurser {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}


.cursorsImage {
  cursor: pointer;
  margin-top: 5%;
}


.cursorsImage img:hover {
  opacity: 0.9;
  /* transform: rotate(20deg); */
  /* transform: scale(0.8); */
  /* transform: skew(15deg,10deg); */
  /* transform: translate(10px,5px); */
  /* transform: matrix(0,1,1,0,0,0); */
  transform: scale(0.9, 0.9);
}